.wallet.panel.panel-default
  .panel-heading
    span Grand total:
    span.total.text-right {{wallet.total}}
    i.fa.currency(ng-class="wallet.currency.iconClass")
  table.transactions.panel-body.table
    tbody
      tr(ng-repeat="transaction in wallet.transactions", ng-class="{success: transaction.isCredit, danger: !transaction.isCredit}", transaction-list-item=true, transaction="transaction", currency="wallet.currency")
