tr.transactionTrItem
  td
    span.isCredit {{transaction.isCredit ? '+' : '-'}}
    span.amount {{transaction.amount | number: 2}}
  td.currency {{currency.iso}}
  td.createdAt {{transaction.createdAt | date: "medium"}}
