h1 Dead simple pomodoro
timer(autostart="false" interval="1000" countdown="countdown.start") {{mminutes}}:{{sseconds}}
button(ng-click="startTimer()" ng-disabled="timerRunning") Start Pomodoro
button(ng-click="stopTimer()" ng-disabled="!timerRunning") Pause Pomodoro
